* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: purple;
}

ul li a {
    font-size: 22px;
    font-weight: 800;
}

div {
  text-align: center;
  color:crimson;
  padding: 20px;
  margin: 0 auto;
  border: 10px;
  border-color: black;
  border-style: groove;
  width: 600px;
  margin-bottom: 10px;

  
}

ul{
  display: inline-block;
  text-align: left;
}

.odin-recipes{
    background-color: darkgray;
    
}

.recipes-list{
    background-color: gray;
}
